@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body,
div,
ul,
ol,
li,
a,
img,
span,
p,
b,
input,
label {
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

a:hover {
}

.bold-svg path {
	stroke-width: 2 !important;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* SWIPER CUSTOM */

.swiper .swiper-button-disabled {
  visibility: hidden !important;
}
.basic-swiper {
  position: static !important;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 99999px;
  background-color: white;
  background-image: url("../../public/assets/icons/ArrowRight-Linear-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  transition: all ease 0.3s;
}
.swiper .swiper-button-prev {

  background-image: url("../../public/assets/icons/ArrowLeft-Linear-24px.svg") !important;
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important; 
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: none;
}




/* bsaisc */
.basic-swiper > .swiper-button-next {
  right : -25px;
}
.basic-swiper > .swiper-button-prev {
 
  left: -25px;
}

/* SWIPER MAIN CUSTOM */

.swiper-home {
  position: relative;
}
.swiper-home .swiper-button-next,
.swiper-home .swiper-button-prev {
  position: absolute;
  top: unset;

  bottom: 12%;
	
	visibility: hidden;
}
.swiper-home > .swiper-button-next {
  right: 8%;
  bottom: 12%;
}
.swiper-home > .swiper-button-prev {
  left: unset;
  right: 25%;
}
@media (min-width: 640px) { 
	.swiper-home .swiper-button-next,
.swiper-home .swiper-button-prev {
  
	visibility: visible;
}
 }

@media (min-width: 768px) {
	 .basic-swiper {
    width:100%;
  }
  .swiper-home > .swiper-button-next {
    bottom: 13%;
    right: 70px;
  }
  .swiper-home > .swiper-button-prev {
    right: 150px;
    bottom: 13%;
  }
}


/* PAGINATION */
.pagination{
	padding : 5px;
	border-radius: 8px;

	display : flex;
	flex-wrap: wrap;
	justify-items: center;
	width : fit-content;

	font-weight: bold;	
}
.pagination li {
	padding :8px 16px;
	border-radius : 8px;
	

	transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}
.pagination .selected{
	color : #f1f1f1;
	background-color: #DC5A5B;
}
.pagination .selected:hover{
	background-color: #f14445;
}
.dark-pagination li:hover{
	background-color: #16151D !important;
}

.pagination li:hover{
	background-color: #edf2f7;
}
@media (min-width: 768px) {
	.pagination {
		flex-wrap: nowrap;
	}
}